@font-face {
    font-family: qatar2022arabic;
    src: url("./sources/fonts/Qatar2022Arabic-Bold.ttf");
}

body{
    background-image: url('https://i.pinimg.com/originals/45/fc/79/45fc7937eeb776acff173c30a412e4e3.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;    
}

.main{
    padding: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-label{
    color: antiquewhite;
    font-size: xx-large;
    font-family: 'qatar2022arabic';
}

.form-select{
    height: 15%;
    width: 40%;
    text-align:center;

    color: antiquewhite;
    font-size: xx-large;
    font-family: 'qatar2022arabic';
    background-color: #333333;
    border: 3px solid antiquewhite;
    border-radius: 5px;
}

.form-btn{
    height: 15%;
    width: 40%;

    color: antiquewhite;
    font-size: xx-large;
    font-family: 'qatar2022arabic';
    background-color: #333333;
    border: 3px solid antiquewhite;
    border-radius: 5px;
}

.form-select:hover{
    background-color: #707070;
    cursor:pointer;
}

.form-btn:hover{
    background-color: #707070;
    transform:scale(1.1);
    cursor:pointer;
}

.card-container{
    height: auto;
    width: 150vh;
    padding: 1vh 1vh 1vh 1vh;

    /* border:1px solid cornflowerblue; */
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 5px;
}

.card{
    border:2px solid rgb(217, 227, 152);
    border-radius: 5px;
    height: 28vh;
    width: 22vh;
    background-size: cover;
    background-position: center;
}

.card:hover{
    cursor:pointer;
    transform:scale(1.05);
}

.card-guessed:hover{
    cursor:default;
    transform:scale(1);
}

.win-div{
    display:none;
    background-image: url('https://cdn-ukwest.onetrust.com/logos/236f1ae3-e97b-4fdf-9cb6-0803d748da2f/5ebc1394-b1a3-4a42-88c6-20bb30cc3831/48d0f561-6f01-496b-b552-aebd8fb0cbf3/logo_(1).png');
    background-attachment: initial;
    height: 70vh;
    width:100%;
    background-size: 100% 100%;
    margin-top: 5%;
}